gcp/
git/
irssi/
mutt/
python/_ipython/_ipython
python/_ipython/profile_default/db/
ssh/

# SSH Stuff
*authorized_keys*
*id_rsa*
*id_rsa.ppk*
*id_rsa.pub*
*igormorgado*
*igormorgado.pem*
*igormorgado.ppk*
*igormorgado.pub*
*known_hosts*

_bash_history
.bash_history
_bash_nda
*cgg*
*CGG*
_config/dotsecrets/dotsecrets.yaml
_config/gcloud/
_config/gcloud/*
_fonts/
_irssi/config
_irssi/logs/
_local/share/fonts/
_local/share/mc/history
_mutt/alias
_mutt/mutt_secrets
*.old
tags
.tags
