*cgg*
*CGG*
_bash_nda
*bash_nda*
*authorized_keys*
*id_rsa*
*id_rsa.ppk*
*id_rsa.pub*
*igormorgado*
*igormorgado.pem*
*igormorgado.ppk*
*igormorgado.pub*
*known_hosts*
logs/
log/
gcloud/logs/
gcloud/completion_cache/
